<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue de algoritmos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Despliegue de algoritmos</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sentiment">Análisis de sentimiento</a></li>
                <li><a href="/generate">Generación de texto</a></li>
                <li><a href="/logistic_regression_report">Reporte Regresión Logística</a></li>
                <li><a href="/kneighbors_report">Reporte KNeighbors</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bienvenidos a la interfaz del módulo: Despliegue de algoritmos</h2>
            <p>Puedes usar el menú de arriba para hacer un análisis de sentimiento, generar texto o ver el reporte de métricas de los ejercicios anteriores.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Despliegue de algoritmos - Sara Díaz</p>
    </footer>
</body>

</html>